name: Build and Release NuGet Package
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  DOTNET_VERSION: '8.0.x'
  APP_PROJECT_PATH: './src/Akka.Pathfinder/Akka.Pathfinder.csproj'
  ClIENT_PROJECT_PATH: './src/Akka.Pathfinder.Client/Akka.Pathfinder.Client.csproj'
  DEMOLAYOUT_PROJECT_PATH: './src/Akka.Pathfinder.DemoLayout/Akka.Pathfinder.DemoLayout.csproj'
  PROJECT_PATH: './src/pathfinder.sln'
  PACKAGE_OUTPUT_DIRECTORY: './packages'

jobs:
  build:
    # For a list of available runner types, refer to
    # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on
    runs-on: ubuntu-latest
    outputs:
      nugetVersion: ${{ steps.gitversion.outputs.majorMinorPatch }}
      fullSemVer: ${{ steps.gitversion.outputs.fullSemVer }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      # Install the .NET Core workload
      - name: Install .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v1.1.1
        with:
          versionSpec: '5.x'

      - name: Determine Version
        uses: gittools/actions/gitversion/execute@v1.1.1
        id: gitversion

      - name: Display GitVersion outputs
        run: |
          echo "Nuget Version: ${{ steps.gitversion.outputs.majorMinorPatch }}"
          echo "Full Version: ${{ steps.gitversion.outputs.fullSemVer }}"

      - name: Restore dependencies
        run: dotnet restore ${{ env.PROJECT_PATH }}

      - name: Build
        run: dotnet build --configuration Release --no-restore ${{ env.PROJECT_PATH }} /p:Version=${{ steps.gitversion.outputs.fullSemVer }}

      - name: Run tests
        run: dotnet test --filter "Category!=Acceptance" --configuration Release --no-build --collect:"XPlat Code Coverage;Format=opencover" --verbosity normal ${{ env.PROJECT_PATH }}

      - name: Create NuGet packages
        run: dotnet pack --configuration Release --no-build --output ${{ env.PACKAGE_OUTPUT_DIRECTORY }} ${{ env.PROJECT_PATH }} /p:PackageVersion=${{ steps.gitversion.outputs.fullSemVer }}

      - name: Upload package artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nuget-packages
          path: ${{ env.PACKAGE_OUTPUT_DIRECTORY }}/*.nupkg

  publish:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
      packages: write
    if: (github.ref == 'refs/heads/main') && github.event_name == 'push'
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Download package artifacts
        uses: actions/download-artifact@v4
        with:
          name: nuget-packages
          path: ${{ env.PACKAGE_OUTPUT_DIRECTORY }}

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      # ---------- NuGet ----------
      - name: Push NuGet packages to GHCR
        run: dotnet nuget push --source https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json --api-key ${{ secrets.GITHUB_TOKEN }} --skip-duplicate ${{ env.PACKAGE_OUTPUT_DIRECTORY }}/*.nupkg
      
      # ---------- Docker ----------
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./src
          file: ./src/Akka.Pathfinder/Dockerfile
          push: true
          tags: |
            ghcr.io/noneedconcept/akka.pathfinder:latest
            ghcr.io/noneedconcept/akka.pathfinder:${{ needs.build.outputs.nugetVersion }}  

      - name: Create and push Git tag
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git tag -a "v${{ needs.build.outputs.nugetVersion }}" -m "Release v${{ needs.build.outputs.nugetVersion }}"
          git push origin "v${{ needs.build.outputs.nugetVersion }}"
